*{
    margin: 0;
    padding: 0;
}
.slider {
    background-color: aqua;
    height: 123px;
    width: 100vw;
}
.box {
    width: 0px;
    height: 5px;
    background-color: red;
    color: white;
    transition-property: width;
    transition-duration: 1.5s;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* animation-name: widthAnimate;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite; */
}
.box:default {
    width: 100vw;
}
img{
    border-radius: 50%;
    animation: rotate 1s ease-in infinite ;  
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
